

<div class="container">
	<div class="ui grid">
		<h1>{{title}}</h1>

	</div>

	<br>


	<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
		
		<thead>
			
			<tr>
				<th>Código</th> 
				<th>Nombre</th>
				<th>Tipo</th>
			</tr>
		</thead>
		<tbody>
			
			<tr *ngFor="let parametro of parametros">
				<td>{{parametro.parCodigo}}</td> 
				<td>{{parametro.parNombre}}</td>
				<td>{{parametro.parTipo}}</td>

			</tr>
		</tbody>
	</table>




</div>




