/* You can add global styles to this file, and also import other style files */
.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover{
	color: #FF0000 !important;
}

.ui.inverted.menu .active.item{
	color: #FFFFFF !important;
}

.ui.inverted.menu{
	background: #000000 !important;
}