<div class="ui inverted fixed menu">
  <div class="ui secondary pointing menu ">

     <a class="item" routerLink="/home" routerLinkActive="active">
       <h2>Inicio |</h2>
    </a> 
    <a class="item" routerLink="/parametros" routerLinkActive="active">
      <h2>Parámetros</h2>
    </a>

    
  </div>

</div>
